.tutors {
    max-width: 1236px;
    margin: 16px auto 32px;
    padding: 0 16px;
    display: grid;
    grid-template-columns: repeat(4, 235px);
    justify-content: center;
    gap: 50px;
}

.tutor-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-placeholder {
    width: 235px;
    height: 245px;
    border: 2px solid #065535;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tutor-icon {
    width: 150px;
    height: auto;
    transform: translateY(8px);
}

.tutor-name {
    margin-top: 8px;
    font-size: 16px;
    font-weight: normal;
    color: #065535;
}

.tutor-description {
    margin-top: 2px;
    font-size: 14px;
    text-align: center;
    color: #41ac21;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 70px;
}

.pagination-arrow {
    border: none;
    background: transparent;
    cursor: pointer;
}

.pagination-arrow img {
    width: 40px;
    height: 40px;
}

.pagination-current {
    font-size: 24px;
    color: #065535;
}

.back-container {
    max-width: 1236px;
    margin: 30px auto 40px;
    padding: 0 16px;
}

.back-container .btn-submit {
    margin: 0;
    width: 200px;
    height: 71px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}