.topics-grid {
    display: grid;
    grid-template-columns: repeat(3, 235px);
    justify-content: center;
    gap: 50px 60px;
    margin-bottom: 56px;
}

.topic-card {
    width: 235px;
    height: 245px;
    border: 2px solid #065535;
    border-radius: 10px;
    background-color: #ffffff;
}

.topic-card label {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.topic-checkbox {
    display: none;
}

.image-placeholder {
    width: 198px;
    height: 170px;
    background-color: #e0e0e0;
    border-radius: 6px;
}

.topic-name {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    font-weight: normal;
    color: #065535;
}

.topic-card:hover {
    border-color: #098553;
}

.topic-card:has(.topic-checkbox:checked) {
    border: 3px solid #065535;
    background-color: #a0db8e;
}

.button-container {
    text-align: center;
}

.btn-submit {
    width: 395px;
    height: 71px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-decoration: none;
}