.home-content {
    text-align: center;
    padding: 60px;
}

.home-logo {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.home-description {
    margin: 10px auto 0;
    max-width: 900px;
    text-align: center;
}

.home-description h1 {
    margin: 0 0 25px;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
    color: #098553;
}

.home-description p {
    margin: 0;
    text-align: center;
    font-size: 20px;
}

.home-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.home-button {
    width: 270px;
    height: 70px;
    border: 2px solid #065535;
    border-radius: 10px;
    background-color: #a0db8e;
    color: #065535;
    font-size: 36px;
    font-family: Poppins, sans-serif;
    cursor: pointer;
}

.home-button:hover {
    background-color: #c7f8b8;
}

.divider {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 25px 0 25px;
    font-size: 36px;
    color: #065535;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 2px;
    background-color: #065535;
}

.divider::before {
    margin-right: 20px;
}

.divider::after {
    margin-left: 20px;
}