@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background-color: #ffffff;
}

.header {
    height: 70px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.logo {
    width: 80px;
    height: auto;
    margin-right: 20px;
}

.content {
    padding: 80px 60px 40px;
}

.title {
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    font-size: 32px;
    margin-bottom: 60px;
    color: #989393;
}